.counter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.number-cont {
	color: whitesmoke;
}

@media screen and (max-width: 850px) {
	.buttons-cont{
		display: flex;
	}
}