.about {
	align-self: center;
	border: 0px solid #222;
	margin: 3rem 20%;
	width: auto;
	color: black;
	background-color: whitesmoke;
	border-radius: 0.5rem;
	padding: 2rem 0;
	box-shadow: 3px 2px 18px 0px rgba(0,0,0,0.68);
-webkit-box-shadow: 3px 2px 18px 0px rgba(0,0,0,0.68);
-moz-box-shadow: 3px 2px 18px 0px rgba(0,0,0,0.68);

}

.header h1 {
	text-align: center;
	font-size: 2rem;
}

.text p {
	font-size: 1.3rem;
	padding: 0 1.2rem;
	text-align: center;
}

.text h2 {
	margin-left: 1.2rem;
}

@media screen and (max-width: 650px) {
	.text p {
		font-size: 1rem;
	} 

	.header h1,
	.text h2 {
		font-size: 1.5rem
	}
}