:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* background-color: #222; */

  height: 100%;
   width: 100%;
   left:0;
   right: 0;
   top: 0;
   bottom: 0;
   position: absolute;
   background: linear-gradient(124deg, #ff2400, #e81d1d, blue, #e3e81d, #1de840, #1ddde8, red, #dd00f3, #dd00f3);
   background-size: 1800% 1800%;
   -webkit-animation: rainbow 25s ease infinite;
   -z-animation: rainbow 30s ease infinite;
   -o-animation: rainbow 20s ease infinite;
   animation: rainbow 30s ease infinite;}
   @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
   }
   @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
   }
   @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
   }
   @keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  list-style-type: none;
}

.counter {
  text-align: center;
}

button {
  border-radius: 8px;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 1em;
  padding: 0.6em 1.2em;
  margin: 0.6em 1.2em;
  background-color: #1a1a1a;
}

button:hover {
  transition: transform 0.7s ease-in-out;
  background-color: #4d4f4e;
}

.reset:hover {
  transform: rotate(360deg);
}
